# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
client.exe

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/packages
*.csproj.user
/.vs
/TPlayer/Resources/原准
/Plugins/resources1/.vs
/Plugins/zimuku/.vs
/TPlayer/.vs/TPlayer.csproj.dtbcache.json
/TPlayerAssist/.vs
/TPlayerSupport/.vs
/TSkin/.vs/TSkin.csproj.dtbcache.json
